.chevron-right {
  left: 0;
  position: absolute;
  top: 0;
}

.chevron-right.thirty-two {
  height: 32px;
  width: 32px;
}

.chevron-right.forty {
  height: 40px;
  width: 40px;
}

.chevron-right.twenty {
  height: 20px;
  width: 20px;
}

.chevron-right.sixteen {
  height: 16px;
  width: 16px;
}

.chevron-right.forty-eight {
  height: 48px;
  width: 48px;
}

.chevron-right.twenty-four {
  height: 24px;
  width: 24px;
}
